        <div id="footer">
            <div id="footer-container">
                <div class="first">
                    <h2>Leaky Solutions</h2>
                    <p>We are a friendly plumbing business based in Skelmersdale, North West. We serve all surrounding areas including Ormskirk, Burscough, Crosby and Liverpool.</p>
                    <a href="about-us">Find out more...</a>
                </div>

                <div class="second">
                    <h2>Links</h2>

                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/services.html">Services</a></li>
                        <li><a href="/locations.html">Locations</a></li>
                        <li><a href="/about-us.html">About</a></li>
                        <li><a href="/contact-us.html">Contact</a></li>
                    </ul>
                </div>

                <div class="third">
                    <h2>Contact Us</h2>
                    <p>Call us 24 hours a day. We are here to help you in whenever it is needed. </p>
                    <p>Call Free on: <a href="tel:08008401667">0800 840 1667</a></p>
                </div>

            </div>
        </div>
    </body>
</html>