    <div id="header">
        <h1 class="main-logo">
            <a href="http://www.leakysolutions.co.uk">
                Leaky Solutions
            </a>
        </h1>
        <div id="header-right">
            <p class="phone"><a href="tel:08008401667">0800 840 1667</a></p>
            <div id="nav" >
                <div class="menu-main-menu-container">
                    <ul id="menu-main-menu" class="menu">
                        <li id="menu-item-21" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-21"><a href="/">Home</a></li>
                        <li id="menu-item-64" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-64"><a href="/services.html">Services</a></li>
                        <li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14"><a href="/about-us.html">About Us</a></li>
                        <li id="menu-item-13" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13"><a href="/contact-us.html">Get In Touch</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>